"*":
  "exception-reporting":
    userId: "95f9bc6e-3486-696b-9c6d-21d638fdb405"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
  "go-plus":
    goPath: "~/projects/go"
  "file-icons": {}
